body {
background-color:goldenrod;
}

title {
text-align:center;
color: rgba(25, 221, 191, 0.877);
}

h1 {
text-align: center;
color: rgb(0, 225, 255);
}

p {
background-color: blue;
border:black;
padding-bottom: 20px;
padding-right: 0px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
background-color: black;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: white;
}

.active {
  background-color: #04AA6D;
  color: white;
}