body {
background-color: goldenrod;
}

.about-me {  
background-image: url('plaatjes/Flag_of_Turkey.svg.webp');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}

title {
text-align:center;
color: rgba(25, 221, 191, 0.877);
}

h1 {
text-align: center;
color:black;
font-size: 50px;
font-family: 'Times New Roman', Times, serif;
}

.p-me {
background: none;
border: none;
color:goldenrod ;
font-size: 40px;
}

p.solid {border-style: solid;}

p {
background-color: purple;
border:black;
text-align: center;
padding-bottom: 10px;
padding-top: 10px;
padding-right: 0px;
padding-left: 0px;
margin: 0px;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
}
 
.game-container {
position: relative;
width: 100%;
height: 100vh;
margin: 0;
padding: 0;
overflow: hidden;
}

.game-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: none;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
background-color: black;
display: flex;
}

ul li a {
display: block;
color: white;
padding: 16px 14px;
text-decoration: none;
}

ul li a:hover {
background-color: #8f7373b7;
}

#Pimmetje {
    background-image: ;
    background-size: cover;
    background-position; center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}