body {
background-color: goldenrod; /*achtergrondkleur*/
} 

h1 {
text-align: center; /*zorgt ervoor dat h1 tekst in midden komt*/
font-size: 50px; /*dit verandert de grote lettertype*/
font-family: 'Times New Roman', Times, serif; /*dit is de style van de lettertype*/
}

p {
background-color: purple;
text-align: center;
padding: 10px 0;
margin: 0;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
}

p.solid {border-style: solid;}

ul {
list-style-type: none;
margin: 0;
padding: 0;
background-color: black;
display: flex;
}

ul li a {
display: block;
color: white;
padding: 16px 14px;
text-decoration: none;
}

ul li a:hover {
background-color: #8f7373b7;
}

#about-me {  
background-image: url('plaatjes/Flag_of_Turkey.svg.webp');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}

#p-me-compressie {
background: none;
border: none;
color:rgb(255, 183, 0) ;
font-size: 40px;
}

#binary {
background-image: url('plaatjes/15048058263_05c06bf2fd_z.webp');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}

#binaire-compressie-header {
color: white;
background-color: black; 
width:30%;
margin: auto;
margin-top: 10px;
}

#IVU {
background-color: aqua;    
}

#Kleurmodellen {
background-image: url('plaatjes/csm_Sam_Jost_Folge_03_Teaser_alternative_e9ef473b9b.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}

#p-kleurmodellen {
background: none;
text-align: left;
}

#Compressie {
background-image: url('plaatjes/what-is-file-compression.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}